﻿@using SerwisOgloszen.Enums;
@using SerwisOgloszen.BazaDanych;


<h2>Lista Ogłoszeń 2</h2>

<script>

    $(document).ready(function () {
        $.ajax({
            dataType: 'json',
            headers: {
                'Authorization': $.cookie("tokenOAuth"),
                'Content-Type': 'application/json'
            },
            url: '/Api/OgloszenieApi/PobierzOgloszenia',
            data: '',
            success: function (rezultat) {
                let idZalogowanegoUzytkownika = '@(((Uzytkownik)Session["uzytkownik"]).Id)';
                let czyAdmin = '@((RolaUzytkownika)((Uzytkownik)Session["uzytkownik"]).Rola == RolaUzytkownika.Administrator)';
                for (let i = 0; i < rezultat.length; i++) {
                    let wiersz = $('<tr></tr>');
                    let komorka = $('<td></td>');
                    komorka.text(rezultat[i].Temat);
                    wiersz.append(komorka);

                    komorka = $('<td></td>');
                    komorka.text(rezultat[i].Tresc);
                    wiersz.append(komorka);

                    komorka = $('<td></td>');
                    komorka.text(rezultat[i].NazwaKategorii);
                    wiersz.append(komorka);

                    komorka = $('<td></td>');
                    komorka.text(rezultat[i].LoginUzytkownika);
                    wiersz.append(komorka);

                    komorka = $('<td></td>');
                    komorka.text(new Date(rezultat[i].DataDodania).toLocaleString());
                    wiersz.append(komorka);

                    if (idZalogowanegoUzytkownika == rezultat[i].UzytkownikId || czyAdmin == 'True') {
                        komorka = $('<td><form action="/Ogloszenie/Usun" method="post"><input id="id" name="id" type="hidden" value="' + rezultat[i].Id
                            + '"><button type="button" class="btn btn-default btn-sm btn-usun"><span class="glyphicon glyphicon-trash "></span></button></form></td>');
                        wiersz.append(komorka);
                        komorka = $('<td><a href="/Ogloszenie/Zapisz/' + rezultat[i].Id
                            + '" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-cog"></span></a></td>');
                        wiersz.append(komorka);
                    }

                    if (idZalogowanegoUzytkownika != rezultat[i].UzytkownikId) {
                        komorka = $('<td>  <a href="/Wiadomosc/WyslijWiadomosc?ogloszenieId=' + rezultat[i].Id + '&odbierajacyUzytkownikId=' + rezultat[i].UzytkownikId
                            + '" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></a></td>');
                        wiersz.append(komorka);
                    } else {
                        komorka = ('<td></td>');
                        wiersz.append(komorka);
                    }

                    $('#listaOgloszen tbody').append(wiersz);
                }
                $('.btn-usun').click(function () {
                    var btn = $(this);

                    swal({
                        title: 'Na pewno chcesz to usunąć?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Tak,chcę to usunąć!',
                        cancelButtonText: 'Anuluj'
                    }).then(function () {
                        $(btn).closest('form').submit();
                    })
                });
            }
        });



    });

</script>

<div class=" row">
    <div class="col-sm-12">
        <table class="table table-striped" style="margin-top:20px;" id="listaOgloszen">
            <thead>
                @if (Request.IsAuthenticated == true)
            {
                    <tr>
                        @using (Html.BeginForm("Zapisz", "Ogloszenie", FormMethod.Get))
                        {
                            <button class="btn btn-default">Dodaj ogłoszenie</button>
                        }
                    </tr>
                }

                <tr>
                    <th>
                        Temat
                    </th>
                    <th>
                        Treść
                    </th>
                    <th>
                        Kategoria
                    </th>
                    <th>Autor</th>
                    <th>Dodano</th>
                    @if (Request.IsAuthenticated == true)
                    {
                        <th></th>
                        <th></th>

                    }
                    @if (Request.IsAuthenticated == true && (RolaUzytkownika)((Uzytkownik)Session["uzytkownik"]).Rola == RolaUzytkownika.Administrator)
                    {
                        <th></th>


                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>