﻿@using SerwisOgloszen.Models
@model ZapiszKategorieViewModel


<h2>Dodaj kategorie</h2>


@using (Html.BeginForm("Zapisz", "Kategoria", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                @Html.LabelFor(x => x.Nazwa)
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
                    @Html.TextBoxFor(x => x.Nazwa, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Nazwa) })
                </div>
                @Html.ValidationMessageFor(x => x.Nazwa)
            </div>
        </div>

        <button class="btn btn-default">Zapisz</button>
        @Html.ActionLink("Anuluj", "ListaKategorii", null, new { @class = "btn btn-default" })
    </div>
}


